
body{
    font-family: "Outfit", sans-serif;
    background: rgb(24, 24, 24);
}

.container{
    min-width: 288px;
    padding: 0 16px;
}



.btn {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.25;
    text-align: center;
    border-radius: 16px;
    padding: 16px 30px 16px 30px;
    background: rgb(149, 76, 237);
    width: 100%;
}

@media (min-width: 500px) {
    .btn {
        width: auto;
    }
}

@media (min-width: 768px) {
    .container{
        padding: 0 60px;
    }
}

@media (min-width: 1441px) {
    .container{
        margin: 0 auto;
    }
}

/*--------------------------------------------------*/


.header__title {
    background: rgb(255, 170, 76);
    min-height: 38px;
    width: 100%;
    display: flex;

}
.header__title-text {
    color: rgb(0, 0, 0);
    font-weight: 500;
    line-height: 1.25;
    padding: 9px 40px;
}
.header__title-text_color {
    color: rgb(255, 255, 255);
    border-radius: 20px 20px 0px 0px;
    background: rgb(24, 24, 24);
}


.header__slogan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 71px;
}

.header__btn-burger {
    width: 40px;
    height: 40px;
    position: relative;
    background: rgb(24, 24, 24);
    
    
}

.header__btn-burger::after{
    content: '';
    position: absolute;
    top: 10px;
    left: 8px;
    height: 2px;
    width: 24px;
    border-radius: 1px;
    background: rgb(255, 255, 255);
    box-shadow: 0 9px 0 0 rgb(255, 255, 255), 0 18px 0 0 rgb(255, 255, 255);
}
.header__content{
    margin-top: 51px;
}

.header__content-title {
    color: rgb(255, 255, 255);
    text-align: left;
    


}
.title {
    color: rgb(255, 255, 255);
    font-size: clamp(2.5rem, 1.268rem + 5.26vw, 6rem);
    font-weight: 700;
    line-height: 1.06;
    text-align: left;
    
}
.title span{
    letter-spacing: 0.1px;
}
.header__content-text {
    font-size: clamp(1rem, 0.912rem + 0.38vw, 1.25rem);
    line-height: 1.25;
    margin: 20px 0 40px;
    max-width: 534px;
}

.header__content-img {
    background: url(../img/Vector270.svg) no-repeat ;
    background-size: 116%;
    background-position: -59% 40px;
    margin-right: -15px;
    margin-top: 123px;
    overflow: hidden;
    position: relative;
}

.header__content-img::after{
    content: "";
    background: rgb(24, 24, 24);
    display: block;
    width: 100%;
    height: 13.5%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.header__img {
    width: 65%;
    margin-left: 16%
}
@media (min-width:768px){
    .header__content-img {
        margin-right: -60px;
    }
}

@media (min-width:1024px) {
    .header__content{
        display: flex;
        margin-top: 82px;
        justify-content: space-between;
        padding-left: 40px;
    }
    .header__content-img {
        margin: 0;
        margin-right: -60px;
        flex-basis: 51%;
        margin-top: -10px;
        background-size: 134%;
        background-position: -27% 21%;
    }
    .header__img{
        width: 74%;
        margin-left: 12%;
    }
}

